
.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 240px;
  height: 440px;
  background-image: url(assets/list\ bg.jpeg);
  background-size: cover;
  font-family: "Tangerine", cursive;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

.header {
    -webkit-app-region: drag;
    position: relative;
    padding: 12px;
    font-size: 33px;
    /*font-weight: bold;*/
    color: white;
    text-align: left;
    background: linear-gradient(to bottom, rgba(0,0,0,0.35), rgba(0,0,0,0.05));
}

#close-btn {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 13px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#new-task {
  width: 90%;
  margin: 15px auto;
  display: block;
  padding: 8px;
  border-bottom: 1px solid rgba(79, 12, 58, 0.559);
  border: none;
}

ul {
    list-style: none;
    padding: 0 10px;
    margin: 0;
    overflow-y: hidden;
    height: 300px;
}

#tasks {
    list-style: none;
    padding: 0;
    margin: 0 10px;
}

#tasks li {
    padding: 6px 10px;
    margin-bottom: 5px;
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: all 0.2s;
}

#tasks li:hover {
  background: rgba(0,0,0,0.5);
}

li.completed {
  text-decoration: line-through;
  color: rgba(255,255,255,0.5);
}
